@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #98fb98; /* Soft pastel green background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2e8b57; /* Use primary green */
  text-decoration: inherit;
}
a:hover {
  color: #1c6b40; /* Darker green */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ebf3e6; /* Soft pastel green */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #51a977; /* Primary green */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffd700; /* Golden accent */
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #2e8b57; /* Primary green border */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Media Queries */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #1c6b40;
  }
  button {
    background-color: #f9f9f9;
  }
}
